extends ../base_layout

block extra_css
  link(rel='stylesheet', href='/fonts/fontello/css/login-icons.css')

block content
  button.btn
    span.icon.icon-github-squared &#59393;
    | Sign In With Github
  button.btn
    span.icon.icon-twitter-squared &#59392;
    | Sign In With Twitter
