<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="/bower/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    {% block extra_css %}{% endblock %}
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-static-top">
      <div class="container-fluid">
        <div class="navbar-header"><a href="/" class="navbar-brand">does<span class="x">x</span>have<span class="y">y</span>from<span class="z">z</span>?</a></div>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/signin">Sign In</a></li>
        </ul>
      </div>
    </nav>

    {% block content %}{% endblock %}

    {% block extra_js %}{% endblock %}
    <script src="/bower/angular/angular.min.js"></script>
  </body>
</html>