doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/bower/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    block extra_css
    block extra_js
  body
      nav.navbar.navbar-inverse.navbar-static-top
        .container-fluid
            .navbar-header
              a.navbar-brand(href='/')
                | does
                span.x x
                | have
                span.y y
                | from
                span.z z
                | ?
            |           
            ul.nav.navbar-nav.navbar-right
              li
                a(href='/signin') Sign In

    block content
