{% extends "base_layout.html" %}

{% block extra_js %}
<script src="/javascript/controllers/indexController.js"></script>
{% endblock %}

{% block content %}
<div class="centered-text" ng-controller="indexController">
  <form class="form-inline">
    Does <input id="x" placeholder="{{ x }}" class="form-control"/>
    have <input id="y" placeholder="{{ y }}" class="form-control"/>
    from <input id="z" placeholder="{{ z }}" class="form-control"/>
    <span style="margin: .5rem;">?</span>
  </form>
</div>
{% endblock %}
