{% extends "base_layout.html" %}

{% block extra_js %}
<script src="/javascript/controllers/inquiryController.js"></script>
<!-- One day, a smarter person than me will figure out how to get Prism to load
performantly on a site like this. Today is not that day.
<script src="/javascript/third-party/prism.js"></script> -->
<script src="/javascript/directives/prismDirective.js"></script>
{% endblock %}

{% block content %}
<div class="centerable-width centered-margin" ng-controller="inquiryController">
  <div id="header" ng-if="inquiryInfoLoaded">
    <h3 class="centered-text">
      <a ng-href="https://github.com/{{ inquiryInfo.username }}">{{ inquiryInfo.username }}</a> asked if
        <span class="x">{{ inquiryInfo.x | titlecase }}</span> has
        <span class="y">{{ inquiryInfo.y }}</span> from
        <span class="z">{{ inquiryInfo.z | titlecase }}</span>?
    </h3>
    <p class="centered-text" ng-if="!loggedIn">Log in to submit an answer and/or vote on answers.</p>
    <p class="centered-text" ng-if="loggedIn"><a ng-href="/answer/{{ inquiryId }}">I have an answer for this!</a></p>
  </div>
  <div ng-repeat="answer in answers" class="media">
    <div class="btn-group-vertical pull-right">
      <button type="button" class="btn btn-default" ng-disabled="!loggedIn" ng-click="upvoteAnswer(answer)"><span class="glyphicon glyphicon-thumbs-up pull-left"></span>&nbsp;{{ answer.upvotes }}</button>
      <button type="button" class="btn btn-default" ng-disabled="!loggedIn" ng-click="downvoteAnswer(answer)"><span class="glyphicon glyphicon-thumbs-down pull-left"></span>&nbsp;{{ answer.downvotes }}</button>
    </div>
    <div class="pull-left">
      <img class="media-object img-rounded comment-user-photo" src="{{ answer.avatar_url }}">
      <p>
        <a href="https://www.github.com/{{ answer.username }}">
          <small class="centered-text">{{ answer.username }}</small>
        </a>
      <p>
    </div>
    <div class="media-body media-middle">
        <p>
          <strong>{{ answer.answer | titlecase }},</strong> {{ answer.summary }}<br>
          <a>
            <small ng-show="loggedIn && !userHasReportedAnswer(answer)" ng-click="reportAnswer(answer)">
              <small class="x">report as unproductive</small>
            </small>
          </a>
          <small ng-show="!loggedIn">
            <small>sign in to report</small>
          </small>
        </p>
        <small>
          <a><p ng-click="toggleExamplesFor(answer)">{{ answer.pageExamples.text }}</p></a>
        </small>
        <div ng-if="answer.pageExamples.show">
          <pre style="width: 49%; float: left;" prism source="{{answer.x_example}}" class="language-go"></pre>
          <pre style="width: 49%; float: left;" prism source="{{answer.z_example}}" class="language-go"></pre>
        </div>
    </div>
  </div>
</div>
{% endblock %}
