{% extends "base_layout.html" %}

{% block extra_js %}
<script src="/javascript/controllers/searchController.js"></script>
{% endblock %}

{% block content %}
<div class="centerable-width centered-margin" ng-controller="searchController">
  <h2 class="centered-text">Does <$ inquiry.x | capitalize $> have <$ inquiry.y $> from <$ inquiry.z | capitalize $>?</h2>
  {% for inquiry in inquiries %}
    <a href="/inquiry/<$ inquiry.id $>">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Does <$ inquiry.x | capitalize $> have <$ inquiry.y $> from <$ inquiry.z | capitalize $>?</h3>
      </div>
    </div>
    </a>
  {% else %}
    <hr>
      {% if canSubmitInquiry %}
        <div class="well well-lg">It seems nobody's asked a question like this yet.&nbsp;
        {% if user %}
          Would you like to <button class="btn btn-default" ng-click="submitNewInquiry()">ask it?</button>
        </span>
        {% else %}
        <span ng-show="!loggedIn">To ask it, please log in.</span>
        {% endif %}
      {% else %}
        <div class="well well-lg">Invalid inquiry.</div>
      {% endif %}
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}