{% extends "base_layout.html" %}

{% block extra_css %}
<link href="/fonts/fontello/css/login-icons.css" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="centerable-width centered-margin">
    <a class="btn btn-lg btn-block btn-default" href="#" role="button" style="margin: 1rem;">
        <span class="icon icon-github-squared">&#59393;</span>Sign In With Github
    </a>
    <a class="btn btn-lg btn-block btn-default" href="#" role="button" style="margin: 1rem;">
        <span class="icon icon-twitter-squared">&#59392;</span>Sign In With Twitter
    </a>

</div>
{% endblock %}