extends base_layout

block extra_css
  link(rel='stylesheet', href='/fonts/fontello/css/login-icons.css')

block content
  .half-width.centered-margin
    a.btn.btn-lg.btn-block.btn-default(href="#", role="button", style="margin: 1rem;")
      span.icon.icon-github-squared &#59393;
      | Sign In With Github
    a.btn.btn-lg.btn-block.btn-default(href="#", role="button", style="margin: 1rem;")
      span.icon.icon-twitter-squared &#59392;
      | Sign In With Twitter

