{% extends "base_layout.html" %}

{% block extra_js %}
<script src="/javascript/controllers/submissionController.js"></script>
{% endblock %}

{% block content %}
<div class="centered-text" ng-controller="submissionController">
  <form class="form-inline" ng-submit="submitNewInquiry()">
    Does <input class="form-control" ng-model="x" ng-change="validateInput('x', x);" />
    have <input class="form-control" ng-model="y" ng-change="validateInput('y', y);" />
    from <input class="form-control" ng-model="z" ng-change="validateInput('z', z);" />
    <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-question-sign"></span></button>
  </form>
  <hr ng-if="warnAboutAny || invalidSubmissionError">
  <p><span ng-if="warnAboutAny" class="label label-danger">{{ warningAboutAny }}</span></p>
  <p><span ng-if="invalidSubmissionError" class="label label-danger">{{ invalidSubmissionNotice }}</span></p>
</div>
{% endblock %}
