{% extends "base_layout.html" %}

{% block content %}
<div class="centerable-width centered-margin centered-text" ng-controller="answerSubmissionController">
  <input type="hidden" name="inquiryId" value="<$ inquiryId $>">
  <p><h3>Does
    <span class="x"><$ inquiry.x | capitalize $></span> have
    <span class="y"><$ inquiry.y $></span> from
    <span class="z"><$ inquiry.z | capitalize $></span>?</h3></p>
  <form class="form-inline" ng-submit="submitNewAnswer()">
    <div class="btn-group" role="group">
      <button type="button" ng-repeat="answer in answerTypes" class="btn btn-default" ng-click="selectAnswerType(answer)" ng-cloak>{{ answer }}</button>
    </div><br>
    <input class="answer-input" type="textarea" maxlength="280" ng-model="answerSubmission.summary" ng-change="countCharacters()" required />
    <p class="centerable-width centered-margin">
      <small class="pull-left" ng-cloak>remaining characters: {{ remainingCharacters }}</small>
      <button type="submit" ng-show="submissionCanBeMade" class="btn btn-default btn-xs pull-right">submit</button>
    </p>
    <br>
    <div class="code-entry-parent">
      <p class="x" ng-show="answerSubmission.answer == 'yes'">note: because you have answered 'yes', you must submit a code example for both <$ inquiry.x | capitalize $> and <$ inquiry.z | capitalize $></p>
      <input type="textarea" ng-if="answerSubmission.answer == 'Yes'" class="code-entry" ng-change="validateInput()" ng-model="answerSubmission.x_example" />
      <input type="textarea" ng-if="answerSubmission.answer == 'Yes'" class="code-entry" ng-change="validateInput()" ng-model="answerSubmission.z_example" />
    </div>
  </form>
  <p><span ng-if="invalidSubmissionError" class="label label-danger" ng-cloak>{{ invalidSubmissionNotice }}</span></p>
  <div>
    <p><h4 class="pull-left">Preview your answer:</h4></p><br><br>
    <div class="media">
      <div class="btn-group-vertical pull-right">
        <button type="button" class="btn btn-default">
          <span class="glyphicon glyphicon-thumbs-up pull-left"></span>&nbsp;0
        </button>
        <button type="button" class="btn btn-default">
          <span class="glyphicon glyphicon-thumbs-down pull-left"></span>&nbsp;0
        </button>
      </div>
      <div class="pull-left">
        <img class="media-object img-rounded comment-user-photo" src="<$ user._json.avatar_url $>">
        <p>
          <a href="/user/<$ user.db_id $>">
            <small class="centered-text"><$ user.username $></small>
          </a>
        <p>
      </div>
      <div class="media-body media-middle">
        <p class="pull-left">
          <strong ng-if="answerSubmission.answer" ng-cloak>{{ answerSubmission.answer }},</strong> {{ answerSubmission.summary }}
        </p><br><br>
        <div>
          <pre style="width: 49%; float: left;" ng-if="answerSubmission.answer == 'Yes'" prism source="{{ answerSubmission.x_example }}" class="language-go"></pre>
          <pre style="width: 49%; float: left;" ng-if="answerSubmission.answer == 'Yes'" prism source="{{ answerSubmission.z_example }}" class="language-go"></pre>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
