.x{
	color: Tomato;
}

.y{
	color: SpringGreen;
}

.z{
	color: RoyalBlue;
}

.half-width{
    width: 50%;
}

.centered-text{ 
	text-align: center;
}

.centered-margin{
	margin: 0 auto;
}

.comment-user-photo{
    max-width: 6rem; 
}