.x{
	color: Tomato;
}

.y{
	color: SpringGreen;
}

.z{
	color: RoyalBlue;
}

.centerable-width{
    width: 65%;
}

.centered-text{
	text-align: center;
}

.centered-margin{
	margin: 0 auto;
}

.comment-user-photo{
    max-width: 10rem;
}

.code-example{
    width: 49%;
}